<section class="ingredients">
  <h1>Ingredients for {{$ctrl.recipe.name}}</h1>
  <p ng-if="$ctrl.recipe.ingredients.length === 0">No ingredients found for this recipe.</p>
  <table ng-if="$ctrl.recipe.ingredients.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amt.</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ingredient in $ctrl.recipe.ingredients">
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.amount}}</td>
        <td>{{ingredient.unit}}</td>
      </tr>
    </tbody>
  </table>
</section>