<section>
  <p ng-if="$ctrl.recipes.length === 0">No recipes found.</p>
  <table ng-if="$ctrl.recipes.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sv. size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="recipe in $ctrl.recipes">
        <td>{{recipe.name}}</td>
        <td>{{recipe.servingSize}}</td>
        <td>
          <a ng-href="#!/recipes/{{recipe.name}}/ingredients">Ingredients</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>